<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col sm-6 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
        <div class="row g-3">
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">EMP code</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">EMP Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">Desigination</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">Gender</label>
                <select name="" id="" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>

            </div>
            <div class="col col-12 col sm-12 col md-12 col lg-12 col xl-12 col xxl-12">
                <label for="" class="form-label">Company Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-62">
                <label for="" class="form-label">Salary</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">Address</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
<label for="" class="form-label">Mobile Number</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">Company Email Id</label>
                <input type="email" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">Year of Experience</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">Blood Group</label>
                <select name="" id="" class="form-control">
                    <option value="">O+</option>
                    <option value="">O-</option>
                    <option value="">A+</option>
                    <option value="">A-</option>
                    <option value="">B+</option>
                    <option value="">B-</option>
                    <option value="">AB+</option>
                    <option value="">AB-</option>
                </select>
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <label for="" class="form-label">DOB</label>
                <input type="date" class="form-control">
            </div>
            <div class="col col-12 col sm-6 col md-6 col lg-6 col xl-6 col xxl-6">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
    </div>
</div>
